<nav>
    <div class="row" style="margin-right: 0;">
        <div class="col-lg-2">
            {{!-- <div class="logo-content">
                <img class="logo" src="media/guardian_log.png" alt="">
            </div> --}}
        </div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-10">
                    <div class="dash-title-cont">
                        {{!-- <h5>Pension Portal Adds</h5> --}}
                    </div>
                </div>
                <div class="col-lg-2">
                    {{!-- <a class="logout" href="/">
                        <i class="fa-solid fa-user"></i>
                        <p>Logout</p>
                    </a> --}}

                    <div class="profile">
                        <div class="user">
                            <h3 id="userName"></h3>
                            <p id="usName"></p>
                        </div>
                        <div class="img-box">
                            <img src="media/user_.png" alt="some user image">
                        </div>
                    </div>
                    <div class="menu">
                        <ul>
                            {{!-- <li><i class="fa-solid fa-envelope"></i>&nbsp;Inbox</li>
                            <li><i class="fa-solid fa-gear"></i>&nbsp;Settings</li> --}}
                            <li id="help"><i class="fa-solid fa-circle-question"></i>&nbsp;Help</li>
                            <li id="logout"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;Sign Out</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>