<link rel="stylesheet" href="css/status.css">

<div class="content">
    <header class="header">
        <p class="hp">Ecopension / Status Check</p>
        <p class="hp1">Status Check</p>
    </header>

    <div class="content_win">
        <h1 style="font-size: 60px;">Coming Soon</h1>
        {{!-- <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <H3 style="padding: 25px 0px 0px 25px;">Get Wn Information</H3>
                        <p style="padding-left: 25px;">Here you can get some WN information, upload an excel file
                            with the desire information using the excel file example.<br>
                            <a href="" download="myfile.xlsx">wn_status</a>. Or you can find the information by
                            searching for the contract here.
                        </p>
                    </div>
                    <div class="check-section">
                        <div class="content_upload">
                            <div class="cont_drop">
                                <div class="col-lg-12">
                                    <label class="label">Email:</label>
                                    <select class="form-group select_dropdown" id="wg_data"
                                        aria-label="Default select example">
                                        <option selected disabled>Select a contract...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="center_lin">
                                <p>or</p>
                            </div>
                            <div class="upload_input_c">
                                <button class="upload-button upload-button1">
                                    <div class="file-icon"></div>
                                    <span class="file-name">No file selected</span>
                                    <input type="file" id="fileInput1" accept=".csv">
                                </button>
                            </div>
                            <div class="file-icons">
                                <div id="fileIcon1" class="file-icon"></div>
                            </div>
                        </div>

                        <div class="button_">
                            <button onclick="uploadFiles()">Upload files</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dt_result" id="dt_result">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-bordered table-hover dt-responsive homt_tb" id="tbl_user">
                                <thead class="table_h">
                                    <tr>
                                        <th>Username</th>
                                        <th>Firstname</th>
                                        <th>Lastname</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}
    </div>
</div>

<script src="js/get_status.js"></script>