<link rel="stylesheet" href="css/onboarding.css">


<div class="content">
    <header class="header">
        <p class="hp">Ecopension / Onboarding page</p>
        <p class="hp1">Onboarding new accounts</p>
    </header>
    <div class="content_win">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <H3 style="padding: 25px 0px 0px 25px;">Upload CSV files</H3>
                        <p style="padding-left: 25px;">Upload the requierd files for the onboarding section. The
                            <b>DATA_EMPL_EMAIL &
                                DATA_MBR_UPDATE</b>.<br>
                            All file must be a <b>.csv</b> file format. All files must be uploaded before 5:00pm<br>
                            <Span>Happy onboarding</Span>
                        </p>
                    </div>
                    <div class="upload-section">
                        <form class="upload_input_c"  id="uploadForm" enctype="multipart/form-data">
                            <button class="upload-button upload-button1">
                                <div class="file-icon"></div>
                                <span class="file-name">No file selected</span>
                                <input type="file" name="file1" id="fileInput1" accept=".csv">
                            </button>
                            <button class="upload-button upload-button2" style="">
                                <div class="file-icon"></div>
                                <span class="file-name">No file selected</span>
                                <input type="file" name="file2" id="fileInput2" accept=".csv">
                            </button>
                        </form>
                        <div class="button_cont">
                            <button  onclick="uploadFiles()">Upload files</button>
                        </div>
                        <div class="file-icons">
                            <div id="fileIcon1" class="file-icon"></div>
                            <div id="fileIcon2" class="file-icon"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/actions/onboard.js"></script>