<link rel="stylesheet" href="css/payroll.css">


<section class="pay_content">
    <div class="content_box">
        <h2>Payroll Import</h2>
        <p>Upload the payroll excel, by on the button below</p>
        <div class="upload-btn-wrapper">
            <button class="btn">Upload file</button>
            <input type="file" id="payrollinput" accept=".xlsx, .xls">
        </div>
        <p id="payrmsg"></p>
        <button class="sub_button" id="sub_button" style="margin-top: 25px;" disabled>
            Submit
        </button>
    </div>
    <img src="/media/payroll_img.png" alt="">
</section>


<script src="js/actions/payroll_import.js"></script>