.admin_card {
    padding-left: 40px;
}

.form-group {
    width: 100%;
}

.button_cont {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
}

.button_cont button {
    width: 45%;
    margin-bottom: 20px;
    background: #F6A146;
    border: none;
    padding: 8px;
    border-radius: 5px;
}

.button_cont button:hover {
    background: #f5b067;
}

.level_view {
    margin-left: 45px;
    display: flex;
    align-items: end;
    width: 100%;
    height: 100%;
}

/* .level_view ul{
    display: flex;
    margin-bottom: 0;
}

.level_view ul li{
    font-size: 13px;
}

.level_view ul li {
    list-style-type: none; 
    position: relative;
  }

.level_view ul li::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
  } */


.level_view ul {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    gap: 35px;
    margin-bottom: 0;
}

.level_view ul li {
    position: relative;
    padding-left: 0px;
    font-size: 12px;
}

.level_view ul li:nth-child(1)::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 4px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}

.level_view ul li:nth-child(2)::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 4px;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
}

.level_view ul li:nth-child(3)::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 4px;
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
}

.admin_herser2 {
    width: 100%;
    display: flex;

}

.delete_user {
    padding-left: 40px;
}

.select_dropdown {
    padding: 6px 5px 5px 5px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.select_dropdown :disabled {
    background: #dddddd;
}

.select_dropdown option {
    color: black;
}

.button_ {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 15px;
}

.button_ button {
    width: 25%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: none;
    background: #9F1330;
    color: white;
    font-weight: 400;
}

.button_ button:hover {
    background: #9f132fd3;
}

.side_ph {
    display: flex;
    cursor: pointer;
    padding-left: 50px;
    margin-bottom: 1px;
    font-size: 11px;
    color: #7c7c7c;
    font-weight: 400;
    text-transform: uppercase;
}


.ul-content_admin {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.ul-content_admin ul {
    width: 100%;
}

.ul-content_admin ul li {
    display: flex;
    cursor: pointer;
    padding: 12px 48px;
}

.ul-content_admin ul li:hover .fa-solid {
    transform: translate(15px);
}

.ul-content_admin ul li:hover {
    background: #76429b0c;
}

.ul-content_admin ul li:hover p {
    transform: translate(15px);
}

.ul-content_admin ul li p {
    color: #2C0845;
    text-decoration: none;
    font-weight: 500;
    transition: transform 0.3s ease;
    font-size: 15px;
    margin-bottom: 0;
}

.info_row {
    margin-top: 30px;
}

.result_cont {
    font-size: 16px;
    flex-direction: column;
    justify-content: center;
    width: 67%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
    padding: 28px;
    border-radius: 10px;
    background: #9f1330;
    color: white;
}

.result_cont p span {
    font-weight: 600;
}

.admin_contentb {
    padding: 30px 0px 30px 45px;
    display: none;
    opacity: 0;
}

.edit_cont {
    display: flex;
}

.reset_text {
    height: 132px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.reset_text p {
    font-size: 15px;
    cursor: pointer;
    color: rgb(0, 102, 255);
    opacity: 0;
}

.reset_text p:hover {
    color: rgb(0, 59, 148);
}

/* Modal Styling */
.modal {
    display: none;
    /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    /* Start with opacity 0 */
    transition: opacity 0.5s ease;
    /* Fade-in effect */
}

.modal.show {
    display: flex;
    /* Flex to center content */
    opacity: 1;
    /* Fade to full opacity */
}

.modal-content {
    background-color: #fff;
    padding: 50px 50px 30px 50px;
    border-radius: 4px;
    width: 80%;
    max-width: 500px;
    transform: translateY(-50px);
    /* Start slightly above */
    transition: transform 0.3s ease;
    /* Slide-in effect */
}

.modal.show .modal-content {
    transform: translateY(0);
    /* Slide in */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


table.table.dataTable tbody tr {
    cursor: pointer;
}

/* .buttons-excel{
    color: #ffffff !important;
    background: #1d6c40 !important;
    border: none !important;
    padding: 0.5em 2em !important;
    border-radius: 0px !important;
}


.buttons-excel:hover{
    background: #1b864b !important;
} */


.custom-excel-button {
    background: #ffffff00 !important;
    /* Green background */
    color: white !important;
    /* White text */
    border: none !important;
    padding: 0px 0px 0px 10px !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    height: 30px;
}

.custom-excel-button:hover {
    background-color: #218838;
    /* Darker green on hover */
}

.custom-excel-button img {
    margin-right: 5px;
    /* Add space between image and text */
}

.fa-file-excel {
    color: #1D6C40;
}

.fa-print {
    color: #24527a;
}

.fa-file-excel:hover {
    transform: scale(1.2);
    color: #2a975b;
}

.fa-print:hover {
    transform: scale(1.2);
    color: #2f6a9e;
}

div.dt-container div.dt-search {
    margin-bottom: 15px;
}

#lineChart {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1280px) {
    .admin_card {
        width: 98%;
    }

    .delete_user {
        width: 98%;
        margin-top: 25px;
    }

    .admin_card .card .card-body p {
        font-size: 13px;
    }

    .button_cont button {
        width: 50%;
    }

    .admin_herser2 {
        display: block;
    }
    .row_{
        display: block;
    }
    .body_cont{
        width: 530px;
    }
}