.main_back {
    width: 100%;
    height: 100vh;
    display: flex;
}

.left {
    width: 50%;
    height: 100vh;
    background: url("../media/life_back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.right {
    width: 50%;
    height: 100vh;
    /* background: #370A53; */
    display: flex;
    justify-content: end;
    /* background: url("../media/life_back.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left img {
    width: 65px;
    height: 45px;
    padding: 20px;
}

.content_on {
    height: 100vh;
    width: 100%;
    position: absolute;
    /* background: rgba(0, 0, 0, 0.171); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_box {
    width: 25%;
    background: #370A53;;
    padding: 35px;
}

.header_test h2 {
    font-size: 28px;
    color: white;
}

.header_test {
    margin-bottom: 30px;
}

.header_test p {
    font-size: 15px;
    color: rgb(226, 226, 226);
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    /* margin-bottom: 20px; */
}

.btn {
    border: 1px solid rgba(128, 128, 128, 0.438);
    color: #F6A146;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    width: inherit;
    cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

#koopmsg {
    font-size: 15px;
    margin-bottom: 0px;
    display: none;
    color: white;
}

.sub_button {
    width: 100%;
    height: 35px;
    background: linear-gradient(104.47deg, #c60651cc -53.48%, #f38b00cc 100.79%);
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
}

.sub_button:disabled {
    background: #cccccc;
    cursor: not-allowed;
}

.msg_cont {
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    opacity: 0;
}

.msg_cont_box{
    width: 25%;
    background: #ffffff;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 29%;
}

.check-container {
    width: 6.25rem;
    height: 7.5rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.check-container .check-background {
    width: 100%;
    height: calc(100% - 1.25rem);
    background: linear-gradient(to bottom right, #5de593, #41d67c);
    box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    transform: scale(0.84);
    border-radius: 50%;
    animation: animateContainer 0.75s ease-out forwards 0.75s;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.check-container .check-background svg {
    width: 65%;
    transform: translateY(0.25rem);
    stroke-dasharray: 80;
    stroke-dashoffset: 80;
    animation: animateCheck 0.35s forwards 1.25s ease-out;
}
.check-container .check-shadow {
    bottom: calc(-15% - 5px);
    left: 0;
    border-radius: 50%;
    background: radial-gradient(closest-side, rgba(73, 218, 131, 1), transparent);
    animation: animateShadow 0.75s ease-out forwards 0.75s;
}
@keyframes animateContainer {
    0% {
        opacity: 0;
        transform: scale(0);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
   }
    25% {
        opacity: 1;
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
   }
    43.75% {
        transform: scale(1.15);
        box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
   }
    62.5% {
        transform: scale(1);
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
   }
    81.25% {
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
   }
    100% {
        opacity: 1;
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
   }
}
@keyframes animateCheck {
    from {
        stroke-dashoffset: 80;
   }
    to {
        stroke-dashoffset: 0;
   }
}
@keyframes animateShadow {
    0% {
        opacity: 0;
        width: 100%;
        height: 15%;
   }
    25% {
        opacity: 0.25;
   }
    43.75% {
        width: 40%;
        height: 7%;
        opacity: 0.35;
   }
    100% {
        width: 85%;
        height: 15%;
        opacity: 0.25;
   }
}

@media screen and (max-width: 1280px) {
    .left{
        width: 60%;
    }
    .right {
        width: 40%;
    }
    .content_on{
        
    }
    .content_box{
        width: 40%;
    }
}