* {
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
}

.body-content {
    display: flex;
    opacity: 1;
    transition: opacity 1s;
}



nav {
    width: 100%;
    background: #2C0845;
    padding: 10px;
    z-index: 1;
    position: absolute;
    padding-top: 20px;
    box-shadow: 0 19px 34px -15px #d2d2f2;
    -webkit-box-shadow: 0 19px 34px -15px #d2d2f2;
    -moz-box-shadow: 0 19px 34px -15px #d2d2f2;
}

.logo {
    padding-left: 25px;
}

.logo {
    height: 55px;
}

.dash-title-cont {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.dash-title-cont h5 {
    color: white;
    font-weight: 400;
    position: relative;
    left: -77px;
    font-size: 17px;
}

.logout {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 10px;
    color: white;
    text-decoration: none;
    justify-content: end;
}

.logout:hover {
    color: rgb(228, 228, 228);
    text-decoration: none;
}

.logout p {
    margin-bottom: 0;
    padding-left: 8px;
    font-size: 14px;
}

.body-cont {
    width: 100%;
    height: 100vh;
}

.sidebar {
    width: 13%;
    background: #ffffff;
    z-index: 9;
    box-shadow: 6px 16px 31px -18px #b7bcd1;
    -webkit-box-shadow: 6px 16px 31px -18px #b7bcd1;
    -moz-box-shadow: 6px 16px 31px -18px #b7bcd1;
    -ms-box-shadow: 6px 16px 31px -18px #b7bcd1;
    position: fixed;
    height: 100%;
    overflow: none;
}




.content {
    width: 86%;
    height: inherit;
    background: #fcfcfc;
    padding: 68px 0px 0px 0px;
    margin-left: 245px;
    transition: opacity 1s;
}

.image- {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imglog {
    height: 21px;
}

.imgtext {
    width: 68%;
    height: 100%;
    display: flex;
    align-items: end;
    margin-left: 8px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.ul-content {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.ul-content ul {
    width: 100%;
}

.active {
    background: #f7f8fc;
    border-right: 3px solid #2C0845;
}

.ul-content ul li {
    display: none;
    cursor: pointer;
    padding: 12px 48px;
}

.side_p {
    display: none;
    cursor: pointer;
    padding-left: 50px;
    margin-bottom: 1px;
    font-size: 11px;
    color: #7c7c7c;
    font-weight: 400;
    text-transform: uppercase;
}

.fa-solid {
    margin-right: 12px;
    margin-top: 3px;
    font-size: 15px;
    transition: transform 0.3s ease;
    color: #2C0845;
}

.ul-content ul li:hover .fa-solid {
    transform: translate(15px);
}

.ul-content ul li:hover {
    background: #76429b0c;
}

.ul-content ul li:hover p {
    transform: translate(15px);
}

.ul-content ul li p {
    color: #2C0845;
    text-decoration: none;
    font-weight: 500;
    transition: transform 0.3s ease;
    font-size: 15px;
    margin-bottom: 0;
}


.tab-group {
    padding: 5rem 0;
    overflow-x: hidden;
}

.header {
    padding: 3rem 3rem 0;
    /* background: #332A86; */
}

.hp {
    font-size: 10px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 0;
}

.hp1 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: capitalize;
}

.header_t {
    color: white;
    margin: 0 0 2rem;
    font-size: 40px;
    font-weight: 500;
}

.single_main {
    padding: 4rem;
    display: none;
}

.multi_main {
    padding: 4rem;
    display: none;
}

.tabs a {
    text-decoration: none;
    background: #f6a14634;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5em 0.5em 0 0;
    color: black;
    margin: 0 2px;
    position: relative;
}

.tabs a:hover {
    opacity: 0.8;
}

.tabs a::after,
.tabs a:before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 10px;
    width: 10px;
    z-index: 1;
}

.tabs a::after {
    left: 100%;
    background-image: radial-gradient(circle at top right, transparent, transparent 10px, #f6a14634 10px, #f6a14634 50px);
}

.tabs a:before {
    right: 100%;
    background-image: radial-gradient(circle at top left, transparent, transparent 10px, #f6a14634 10px, #f6a14634 50px);
}

.tabs a.active_tb {
    background: #f6a146;
    z-index: 10;
    pointer-events: none;
}

.tabs a.active_tb::after {
    background-image: radial-gradient(circle at top right, transparent, transparent 10px, #f6a146 10px, #f6a146 50px);
}

.tabs a.active_tb:before {
    background-image: radial-gradient(circle at top left, transparent, transparent 10px, #ffffff 10px, #ffffff 50px);
}


.active_display {
    display: block;
    opacity: 1;
}

#Emessage {
    opacity: 0;
    color: green;
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
}

#Emessagewg {
    opacity: 0;
    color: green;
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
}

.sinlge_b {
    margin-top: 10px;
    width: 30%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background: #C12349;
    color: white;
}

.sinlge_b:hover {
    background: #c93f5f;
}

/* .m-content {
    display: flex;
    flex-direction: column;
}

.m-content button {
    margin-top: 30px;
    width: 160px;
    border: none;
    padding: 10px;
    border-radius: 15px;
    background: #C12349;
    color: white;
}



.m-content button:hover {
    background: #c93f5f;
} */

.excel_example {
    width: 100%;
    height: 460px;
    background: url("../media/excel_examp.PNG");
    background-size: cover;
    /* border: 15px solid #1d6c41dc; */
    border-radius: 25px;
}

.excel_examp {
    width: 100%;
    height: 460px;
    background: url("../media/reset_account.PNG");
    background-size: cover;
    /* border: 15px solid #1d6c41; */
    border-radius: 25px;
}

.wg_excel {
    width: 100%;
    height: 460px;
    background: url("../media/wg_resetted.PNG");
    background-size: cover;
    /* border: 15px solid #1d6c41; */
    border-radius: 25px;
}



.profile {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    text-align: end;
}

.profile h3 {
    text-align: end;
    line-height: 1;
    margin-bottom: 4px;
    font-weight: 400;
    color: white;
    font-size: 15px;
}

.profile p {
    line-height: 1;
    font-size: 14px;
    opacity: .6;
    margin-bottom: 0;
    color: white;
}

.profile .img-box {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.profile .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* menu (the right one) */

.menu {
    position: absolute;
    top: calc(100% + 24px);
    right: 16px;
    width: 200px;
    min-height: 100px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: 300ms;
}

.menu::before {
    content: '';
    position: absolute;
    top: -10px;
    right: 14px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
    z-index: -1;
}

.menu.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

/* menu links */

.menu ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background: #fff;
}

.menu ul li {
    list-style: none;
    color: #000;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 6px;
    cursor: pointer;
}

.menu ul li:hover {
    background: #eee;
}

/* .menu ul li a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 6px;
} */

.menu ul li a i {
    font-size: 1.2em;
}

.eco_content{
    display: none;
}

/* home section */
.info_contents {
    padding: 10px 48px;
}

.card {
    box-shadow: 0 0 20px 0 rgba(31, 30, 30, 0.08);
    -webkit-box-shadow: 0 0 20px 0 rgba(31, 30, 30, 0.08);
    -moz-box-shadow: 0 0 20px 0 rgba(31, 30, 30, 0.08);
    -ms-box-shadow: 0 0 20px 0 rgba(31, 30, 30, 0.08);
    border: none !important;
}

.card_content h1 {
    font-size: 45px;
    font-weight: 400;
}

.card_content h5 {
    font-weight: 600;
}

.card_content p {
    margin-bottom: 0;
    font-size: 14px;
    color: #EB6E1F;
}

.table_content {
    padding: 10px 48px;
}

.table_h {
    background: #C12349;
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.table_h span {
    font-weight: 500;
}

.homt_tb tbody tr {
    font-size: 14px;
}

.content_win {
    padding: 18px 50px;
}

/* delete page */
.delete_cont {
    background: white;
    box-shadow: 0 0 20px 0 rgba(31, 30, 30, 0.08);
    -webkit-box-shadow: 0 0 20px 0 rgba(31, 30, 30, 0.08);
    -moz-box-shadow: 0 0 20px 0 rgba(31, 30, 30, 0.08);
    -ms-box-shadow: 0 0 20px 0 rgba(31, 30, 30, 0.08);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    position: relative;
    width: 70%;
}

.label {
    margin-bottom: 3px;
    font-weight: 400;
    font-size: 15px;
    color: #332A86;
}

.input_field {
    padding: 5px 10px;
    border: 1.9px solid rgb(180, 180, 180);
    font-size: 15px;
    outline: none;
    /* border: 1px solid rgb(170, 170, 170); */
    width: -webkit-fill-available;
}

.input_field:focus {
    border: 1.9px solid #ffffff !important;
}

.box {
    display: inline-block;
    border-radius: 3px;
    font-size: 30px;
    padding: 10px;
    opacity: 0;
}

[class*="loader-"] {
    display: inline-block;
    width: 1em;
    height: 1em;
    color: inherit;
    vertical-align: middle;
    pointer-events: none;
}

.loader-01 {
    border: .2em dotted #f6a146;
    border-radius: 50%;
    animation: 1.5s loader-01 linear infinite;
}

.custom-excel-button {
    background: #ffffff00 !important; /* Green background */
    color: white !important; /* White text */
    border: none !important;
    padding: 0px 0px 0px 10px !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    height: 30px;
}

.custom-excel-button:hover {
    background-color: #218838; /* Darker green on hover */
}

.custom-excel-button img {
    margin-right: 5px; /* Add space between image and text */
}

.fa-file-excel{
    color: #1D6C40;
}

.fa-print{
    color: #24527a;
}

.fa-file-excel:hover{
    transform: scale(1.2);
    color: #2a975b;
}

.fa-print:hover{
    transform: scale(1.2);
    color: #2f6a9e;
}

[class*="loader-"] {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    color: inherit;
    vertical-align: middle;
    pointer-events: none;
}

.loader-03 {
    border: 0.2em solid currentcolor;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: 1s loader-03 linear infinite;
    position: relative;
}

.info_loader{
    width: 100%;
    height: 80%;
    display: flex;
    opacity: 1;
    justify-content: center;
    align-items: center;
}

@keyframes loader-01 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        /* Start opacity */
    }

    to {
        opacity: 1;
        /* End opacity */
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        /* Start opacity */
    }

    to {
        opacity: 1;
        /* End opacity */
    }
}

@media screen and (max-width: 1280px) {
    .sidebar {
        width: 18%;
    }

    .content {
        margin-left: 227px;
        width: 82%;
    }
    .header{
        width: 50%;
    }
    .admin_contentb .row{
        margin-right: 0px !important;
    }
    .card_content h1{
        font-size: 38px;
    }
    .card_content p{
        font-size: 13px;
    }
    .card_content h5{
        font-size: 17px;
    }
    .profile .img-box {
        width: 35px;
        height: 35px;
    }
    .upload-button {
        height: 200px;
        width: 40%;
    }
    .sinlge_b{
        width: 60%;
    }
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
@keyframes loader-03 {
    0% {
        transform: rotate(0deg);
   }
    100% {
        transform: rotate(360deg);
   }
}
