.upload-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.upload_input_c{
    display: flex;
    margin-left: 25px;
}


.upload-button {
    position: relative;
    height: 150px; /* Adjust the height as needed */
    background-color: #eeeeee;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba(31, 30, 30, 0.08);
    -webkit-box-shadow: 0 0 20px 0 rgba(31, 30, 30, 0.08);
    -moz-box-shadow: 0 0 20px 0 rgba(31, 30, 30, 0.08);
    -ms-box-shadow: 0 0 20px 0 rgba(31, 30, 30, 0.08);
    width: 25%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.upload-button:nth-child(2){
    margin-left: 30px;
}

.upload-button input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.upload-button .file-icon {
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    margin-top: 5%;
    margin-right: 16px;
}

.button_cont{
    width: 100%;
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 25px;
}

/* .upload-section button{
    width: 25%;
    margin-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 5px;
} */

.button_cont button{
    width: 51%;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 5px;
    background: #F6A146;
}

.upload-button1 .file-icon {
    background-image: url('../media/csv-icon3.png'); /* Default CSV icon image */
}

.upload-button2 .file-icon {
    background-image: url('../media/csv-icon3.png'); /* Default CSV icon image */
}

.upload-button .file-icon.uploaded {
    background-image: url('../media/csv-icon3.png'); /* Add your CSV icon image path */
}

.upload-button .file-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 1280px) {
    .upload-button {
        height: 200px;
        width: 40%;
    }
    .button_cont button{
        width: 80%;
    }
}