<link rel="stylesheet" href="css/admin.css">
<div class="body-cont">
    <div class="sidebar">
        <div class="row">
            <div class="image-">
                {{!-- <img class="imglog" src="media/guardlogos.png" alt=""> --}}
                <div class="imgtext">
                    <p>ecopension</p>
                </div>
            </div>
        </div>
        <div class="row" style="margin-right: 0;">
            <div class="ul-content_admin" id="admin_ul">
                <ul>
                    <p class="side_ph">Account Actions</p>
                    <li class="side_li1 "><i class="fa-solid fa-house"></i><p>Home Page</p></li>
                    <li class="side_li2"><i class="fa-solid fa-user-xmark"></i><p>Add New User</p></li>
                    <li class="side_li2"><i class="fa-solid fa-pen-to-square"></i><p>Edit User</p></li>
                    {{!-- <li class="side_li3"><i class="fa-solid fa-spinner"></i>
                        <p>Reset Accounts</p>
                    </li> --}}
                    <p class="side_ph" style="padding-top: 20px;">Logs</p>
                    <li class="side_li4 active"><i class="fa-solid fa-file-export"></i><p>User Activity</p></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <header class="header">
            <p class="hp">Ecopension / Admin / User Activity</p>
            <p class="hp1">User Activity</p>
        </header>
        <div class="admin_card">
            <div class="row">
                <div class="col-lg-7">
                    <div class="card">
                        <div class="card-body">
                            <h4 style="margin-bottom: 30px;">User Actions Logs</h4>
                            <table class="table table-bordered table-hover dt-responsive homt_tb" id="tbl_action">
                                <thead class="table_h">
                                    <tr>
                                        <th>Created Data</th>
                                        <th>User</th>
                                        <th>Type</th>
                                        <th>Action</th>
                                        <th>Amount</th>
                                        <th>Data</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                            <table class="table table-bordered table-hover dt-responsive homt_tb" id="tbl_user">
                                <thead class="table_h">
                                    <tr>
                                        <th>User</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                    </tr>
                                </thead>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="infoModal" class="modal">
    <div class="modal-content">
        <div class="tc_content">
            <span class="close">&times;</span>
            <h2>Details</h2>
        </div>
        <p><strong>Created Date:</strong> <span id="modal-createdDate"></span></p>
        <p><strong>Users:</strong> <span id="modal-users"></span></p>
        <p><strong>Type:</strong> <span id="modal-type"></span></p>
        <p><strong>Actions:</strong> <span id="modal-actions"></span></p>
        <p><strong>Amount/Number:</strong> <span id="modal-amount_anumber"></span></p>
        <p><strong>JSON Data:</strong> <span id="modal-json_data"></span></p>
    </div>
</div>

<script src="js/actions/useractivity.js"></script>